:root {}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background-color: #f0f4f8;
}

.tree-item {
  text-decoration: none;
  color: inherit;
}

.editable {
  padding: 4px 8px;
  border-radius: 6px;
  transition: background-color 0.2s;
}

.editable:hover {
  background-color: #f0f4f8;
}